@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1>Aeropuerto Alfonso Bonilla Aragon</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>
            El Aeropuerto Internacional Alfonso Bonilla Aragón 
            localizado en el corregimiento de Palmaseca del municipio de Palmira, Colombia,
            sirve a la ciudad de Cali. 
            Fue inaugurado en 1971. 
            En la actualidad es el cuarto aeropuerto de Colombia en movimiento de pasajeros
        </p>
    </div>
    
</div>